@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%; }

.max-width {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto; }

.navbar {
  position: fixed;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  padding: 3rem 0;
  transition: all 0.3s ease;
  z-index: 9999;
  white-space: nowrap; }
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem; }
  .navbar .menu {
    padding-left: 50rem; }
  .navbar .menu li {
    list-style: none;
    display: inline-block; }
    .navbar .menu li a {
      color: #2e2e2e;
      font-family: 'Noto Sans SC';
      font-size: 2rem;
      font-weight: 600;
      margin-left: 2.5rem;
      transition: color 0.3s ease; }
      .navbar .menu li a:hover {
        color: white; }
  .navbar .logo a {
    color: #2e2e2e;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Rubik', sans-serif; }
    .navbar .logo a img {
      width: 5rem;
      vertical-align: middle; }
    .navbar .logo a span {
      color: #2e2e2e; }

/* navbar-sticky */
.navbar.sticky {
  padding: 15px 0;
  background: rgba(42, 42, 42, 0.8);
  backdrop-filter: blur(30px); }
  .navbar.sticky .logo a {
    color: #F28482;
    transition: all 0.3s ease; }
    .navbar.sticky .logo a span {
      color: #fff;
      transition: all 0.3s ease; }
  .navbar.sticky .menu li a {
    color: #fff; }
    .navbar.sticky .menu li a:hover {
      color: #F28482; }

.menu-btn {
  color: #3c3c3c;
  cursor: pointer;
  display: none; }

.section-content {
  text-align: center;
  padding: 12.3rem 0;
  height: 90vh; }
  .section-content img {
    width: 70rem; }

footer {
  background: #3c3c3c;
  padding: 3rem 2rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  height: 10vh; }

footer span a {
  color: #F28482;
  text-decoration: none; }

footer span a:hover {
  text-decoration: underline; }

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
  .navbar .max-width {
    padding: 0 3rem; }
    .navbar .max-width .menu {
      padding-left: 0rem; }
  .section-content img {
    width: 70rem; } }

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  .navbar .max-width {
    padding: 0 3rem; }
  .section-content img {
    width: 70rem; } }

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .navbar .max-width {
    padding: 0 3rem; }
  .navbar .logo a {
    font-size: 3.5rem;
    font-weight: 600; }
    .navbar .logo a span {
      color: #3c3c3c; }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #3c3c3c;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease; }
    .navbar .menu li {
      display: block; }
      .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: #fff; }
    .navbar .menu.active {
      left: 0; }
  .menu-btn {
    display: block;
    z-index: 999;
    font-size: 2rem; }
    .menu-btn i.active:before {
      content: '\f00d';
      color: #fff; }
  .section-content img {
    width: 60rem;
    padding-top: 30%; } }

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (min-width: 544px) and (max-width: 44em) {
  .section-content img {
    width: 50rem;
    padding-top: 30%; } }

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (min-width: 350px) and (max-width: 544px) {
  .navbar .logo {
    display: none; }
  .section-content img {
    width: 35rem;
    padding-top: 30%; }
  footer {
    padding: 2rem 2rem;
    font-size: 1rem; } }
