@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html{
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}

.max-width {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    //background: crimson;
    font-family: 'Ubuntu', sans-serif;
    padding: 3rem 0;
    transition: all 0.3s ease;
    z-index: 9999;
    white-space: nowrap;
  
    .max-width {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
    }
    
    .menu{
        padding-left: 50rem;
    }
  
    .menu li {
      list-style: none;
      display: inline-block;
      a {
        color: rgb(46, 46, 46);
        font-family: 'Noto Sans SC';
        font-size: 2rem;
        font-weight: 600;
        margin-left: 2.5rem;
        transition: color 0.3s ease;
       
  
        &:hover {
          color: rgb(255, 255, 255);
        }
      }
    }
  
    .logo a {
      color: rgb(46, 46, 46);
      font-size: 3.5rem;
      font-weight: 600;
      font-family: 'Rubik', sans-serif;

      img{
        width:5rem;
        vertical-align:middle
      }
  
      span {
        color: rgb(46, 46, 46);
        //color: rgb(255, 255, 255);
      }
    }
  }
  
  /* navbar-sticky */
  .navbar.sticky {
    padding: 15px 0;
    background: rgba(42, 42, 42, 0.8);
    backdrop-filter: blur(30px);
  
    .logo a {
      color: #F28482;
      transition: all 0.3s ease;
  
      span {
        color: #fff;
        transition: all 0.3s ease;
      }
    }
  
    .menu li a {
      color: #fff;
  
      &:hover {
        color: #F28482;
      }
    }
  }

  .menu-btn {
    color: rgb(60, 60, 60);
    cursor: pointer;
    display:none;
  }

  .section-content{
      text-align: center;
      padding: 12.3rem 0;
      height: 90vh;
      img{
          width: 70rem;
      }
  }


  footer {
    background: rgb(60, 60, 60);
    padding: 3rem 2rem;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    height: 10vh;
  }
  footer span a {
    color: #F28482;
    text-decoration: none;
  }
  footer span a:hover {
    text-decoration: underline;
  }


  /* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {

  .navbar{
    .max-width {
      padding: 0 3rem;
      .menu{
        padding-left: 0rem;
      }
    }
  }
  .section-content{
      img{
          width: 70rem;
      }
  }


}


/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  .navbar{
    .max-width {
      padding: 0 3rem;
    }
  }
  .section-content{
    img{
        width: 70rem;
    }
}

}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {

  .navbar {
    .max-width {
      padding: 0 3rem;
    }

    .logo a {
      font-size: 3.5rem;
      font-weight: 600;

      span {
        color: rgb(60, 60, 60);
      }
    }

    .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: rgb(60, 60, 60);
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;

      li {
        display: block;
        a {
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
          color: #fff;
          
        }
      }

      &.active {
        left: 0;
      }
    }
  }

  .menu-btn {
    display: block;
    z-index: 999;
    font-size: 2rem;

    i.active:before {
      content: '\f00d';
      color: #fff;
    }
  }
  .section-content{
    img{
        width: 60rem;
        padding-top: 30%;
    }
}



}


/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (min-width: 544px) and (max-width: 44em) {
  .section-content{
    img{
        width: 50rem;
        padding-top: 30%;
    }
}



}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (min-width: 350px) and (max-width: 544px) {
  .navbar{
    .logo{
      display: none;
    }
  }
  .section-content{
    img{
        width: 35rem;
        padding-top: 30%;
    }
}

footer {
  padding: 2rem 2rem;
  font-size: 1rem;
}
}